/*
                     Defaults
*/

root { 
    display: block;
}

html { 
}

body {}

* {}

/*
                     Wrapper
*/

div.wrapper {  width: 100%;
               margin: auto;
               padding: 10px;
}

div.loginwrapper {
    text-align: center;
}

div.sitewrapper {
    text-align: left;
}

table.login {
    text-align: right;
    margin: auto;
    width: 300px;
}

/*
                     Link
*/


.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: red;
}
